Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884187023/work
certifi==2023.5.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179414629/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda==23.1.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1685101166527/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1685659521937/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791344629/work/libmambapy
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791344629/work/mamba
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1687776318736/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1666836580084/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1686993993413/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412871362/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1688005749963/work
zstandard==0.19.0
